@model IEnumerable<DAO.Model.User>

@{
    ViewBag.Title = "Все пользователи";
}

<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Все пользователи</h4>
            <section id="no-more-tables">
                <table class="table table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                            <th>@Html.DisplayNameFor(model => model.LastName)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>Подбронее</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td data-title="@Html.DisplayNameFor(model => model.FirstName)">@item.FirstName</td>
                                <td data-title="@Html.DisplayNameFor(model => model.LastName)">@item.LastName</td>
                                <td data-title="@Html.DisplayNameFor(model => model.Email)">@item.Email</td>
                                <td data-title="Подбронее">
                                    @Html.ActionLink("Профиль", "Details", new { Controller="Manage", id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div><!-- /content-panel -->
    </div><!-- /col-lg-12 -->
</div><!-- /row -->
