@model IEnumerable<DAO.Model.User>

@{
    ViewBag.Title = "Все пользователи";
}
<div class="col-md-12">
    <h2>Операции</h2>
    <table id="bootstrap-table" data-url="@Url.Action("Users", "Json")"
           data-pagination="true" data-search="true"
           data-show-refresh="true" data-show-toggle="true"
           click-href="@Url.Action("Details", "Manage")">
        <thead>
            <tr>
                <th data-field="FirstName" data-sortable="true">@Html.DisplayNameFor(model => model.FirstName)</th>
                <th data-field="LastName" data-sortable="true">@Html.DisplayNameFor(model => model.LastName)</th>
                <th data-field="Email" data-sortable="true">@Html.DisplayNameFor(model => model.Email)</th>
                <th data-field="Id" data-visible="false"></th>
            </tr>
        </thead>
    </table>
</div>