@using PaymentSystem.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вход в личный кабинет";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div id="login-page">
    <div class="container">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-login form-horizontal" }))
        {
            <h2 class="form-login-heading">Вход</h2>
            <div class="login-wrap">
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger">@ViewBag.Error</div>
                }
                @Html.AntiForgeryToken()
                <div>
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                </div>
                @Html.TextBoxFor(model => model.Email, new {@class = "form-control", placeholder = Html.DisplayNameFor(model => model.Email), autofocus = ""})
                <div>
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                </div>
                <br>
                @Html.PasswordFor(model => model.Password, new {@class = "form-control", placeholder = Html.DisplayNameFor(model => model.Password)})
                <div>
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                </div>
                <br/>
                <div class="checkbox">
                    @Html.LabelFor(model => model.RememberMe, new {@class = "col-md-offset-1"})
                    <div class="switch switch-square" data-on-label="<i class='fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                        @Html.CheckBoxFor(model => model.RememberMe)
                    </div>
                </div>
                <br/>
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Забыли пароль?</a>
                </span>
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> ВОЙТИ</button>
                <hr>
                <div class="registration">
                    Еще нет аккаунта?<br/>
                    @Html.ActionLink("Создать аккаунт", "Register")
                </div>
            </div>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Забыли пароль ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Введит Ваш e-mail для того, чтобы восстановить пароль.</p>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control placeholder-no-fix", placeholder = Html.DisplayNameFor(model => model.Email), autocomplete = "off" })
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Отмена</button>
                            <button class="btn btn-theme" type="button">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        }

    </div>
</div>
