@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Онлайн платежи</h1>
    <p class="lead">
        Добро пожаловать на сайт для выполнения платежей онлайн. 
        <br/>
        С помощью данного ресурса вы сможите с легкостью управлять своими банковскими карточками и выполнять различные платежи с их помощью.
        <br/>
        При возникновеннии каких-либо вопросов обращайтесь за помощью в техподдержку.
    </p>
    <p><a href="@Url.Action("NewMessage","Message")" class="btn btn-primary btn-lg">Помощь &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Банковские карты</h2>
        <p>
            С помощью данного ресурса вы сможете легко добавлять свои новые карты, управлять ими, пополнять и производить произвольные платежи.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Card")">Мои карты &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Платежи</h2>
        <p>
            Система поддерживает различные типы платежей:
            <ul>
                <li>@Html.ActionLink("Банковский перевод", "CreateBankOperation", "Operation")</li>
                <li>@Html.ActionLink("Мобильный перевод", "CreateMobileOperation", "Operation")</li>
                <li>@Html.ActionLink("Перевод с карты на карту", "CreateCardOperation", "Operation")</li>
            </ul>
            Так же есть возможность сделать любой платеж отложенным.<br/>
            Это позволит вам планировать ваши банковские операции.<br/>
            В случае ошибки всегда можно отменить отложенный платеж.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>История</h2>
        <p>
            Все выполненные операции доступны для просмотра. Вы всегда можете посмотреть когда и какие операции вы выполняли.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Operation")">Просмотреть &raquo;</a></p>
    </div>
</div>