@model IEnumerable<DAO.Model.Request>

<!-- settings start -->
<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="fa fa-tasks"></i>
        <span class="badge bg-theme">@ViewBag.Count</span>
    </a>
    <ul class="dropdown-menu extended tasks-bar inbox">
        <div class="notify-arrow notify-arrow-green"></div>
        <li>
            <p class="green">У вас @ViewBag.Count запросов на активацию счета</p>
        </li>
        @foreach (var i in Model)
        {
            <li>
                <a href="@Url.Action("Details", new { Controller = "Card", id = i.Account.AccountId })">
                    <span class="photo"><img alt="avatar" src="@Url.Action("GetImage", "Account", new{id = i.Account.User.Id})"></span>
                    <span class="subject">
                        <span class="from">@i.Account.User.FirstName</span>
                        <span class="time">@i.Date.ToString("dd.MM.yyyy")</span>
                    </span>
                    <span class="message">
                        Разблокируйте мою карту:<br/>@i.Account.Card.Name
                    </span>
                </a>
            </li>
        }
        <li class="external">
            @Html.ActionLink("Посмотреть все запросы", "Index", "Request")
        </li>
    </ul>
</li>
<!-- settings end -->
