@model DAO.Model.Account

@{
    ViewBag.Title = "Информация о карте";
    ViewBag.AccountId = Model.AccountId;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance) грн.
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.Name)
        </dd>
    </dl>
        @{
            string text, style, href;
        }
        @if (Model.IsBlocked)
        {
            text = User.IsInRole("Admin") ? "Разблокировать" : "Отправить запрос на разблокировку";
            style = "btn-success";
            href = Url.Action(User.IsInRole("Admin") ? "UnBlock" : "RequertToUnBlock", new { Controller = "Card", id = Model.AccountId });
        }
        else
        {
            text = "Заблокировать";
            style = "btn-danger";
            href = Url.Action("Block", new { Controller = "Card", id = Model.AccountId });
        }
        <br />
        <button class="btn btn-block btn-default @style" href="@href" id="blockAccount">
            @text
        </button>
    @Html.Partial("_OperationsPartial", Model.Operations)
</div>
