@model IEnumerable<DAO.Model.Operation>

<div class="col-md-12">
    <h2>Операции</h2>
    <table id="bootstrap-table" data-url="@Url.Action("Operations", new { Controller="Json", id = ViewBag.AccountId})" 
           data-height="500" data-pagination="true" data-search="true">
        <thead>
            <tr>
                <th data-field="OperationDate" data-sortable="true">@Html.DisplayNameFor(model => model.OperationDate)</th>
                <th data-field="Amount" data-sortable="true">@Html.DisplayNameFor(model => model.Amount)</th>
                <th data-field="Type" data-sortable="true">@Html.DisplayNameFor(model => model.Type)</th>
                <th data-field="Id" data-visible="false"></th>
            </tr>
        </thead>
    </table>
</div>

<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OperationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OperationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OperationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OperationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OperationId })
        </td>
    </tr>
}

</table>
    -->