@model DAO.Model.CardOperation

@{
    ViewBag.Title = "Операция с картой";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OperationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount) грн.
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
    </dl>
    @if (Model.Type == DAO.Model.OperationType.PreparedPayment)
    {
        <button class="btn btn-default btn-block btn-success" id="op-accept">Подвтредить</button>
        <button class="btn btn-default btn-block btn-danger" id="op-cancel">Отменить</button>
        @section scripts{
            <script>
                $(document).ready(function () {
                    $('#op-accept').click(function () {
                        changeOperation("подтвердить", "@Url.Action("Accept",new{Controller = "Operation", id = Model.OperationId})");
                    });
                    $('#op-cancel').click(function () {
                        changeOperation("отменить", "@Url.Action("Cancel",new{Controller = "Operation", id = Model.OperationId})");
                    });
                });
            </script>
        }
    }
</div>
